html {
    font-size: 16px;
}

h2 {
    font-size: 1.5rem;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 1.25rem;
}

th, td {
    padding: 10px;
    text-align: center;
}

img {
    width: 100%;
}

.image-button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.content-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}